.image{
  background-color: #750550



}
.image h1{
  color:#FEECE9




}
.table{
  background-color:#CCD1E4
  background-color: #FEE3EC
}
a{
  color: #750550
}
.hbd{
  text-align: center;

}
.lines{
  background-color: #CCD1E4

}
.lines h1{
  font-family: sans-serif;
}
.pa{
  background-color: #FEECE9

}
h1{
  color: #750550
}
h2{
  color: #064663
}
.he3{

  background-color: #FEE3EC

}
h3{
  color:
}
